/* le bouton navbar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: end;
  padding-right: 60px;
  height: 7vh;
  background-color: rgb(26, 26, 26);
  border-bottom: 2px solid red;
}
/*    Cela concerne tout les balise html <a> qui se situe dans la balise <nav>   */
nav > a {
  color: white;
  padding-top: 2vh;
  margin: 0px 10px 0px 40px;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

/*Lorsque l'on met la souris sur les balises <a> , on change la couleur du texte des balises <a> en*/
nav > a:focus,
nav > a:hover {
  color: #ff0000;
}

/*
Lorsque l'on met notre souris sur les balises <a> , l'element after est changé.
On change le width et la position left de l'element after
*/
nav > a:focus:after,
nav > a:hover:after {
  width: 100%;
  left: 0%;
}
/*   Cela concerne tout les balise html <a> qui se situe dans la balise <nav> 
     Le after qant a lui signifie qu'il ajoute un element virtuel , une fausse balise après chaque <a>
     Donc c'est un element html qui ne figure par dans le fichier html
*/
nav > a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 1, 1);
  transition-duration: 0.8s;
  transition-property: width, left;
}

/*rotation Preformation*/
#index {
  background: black;
}
section {
  height: 100vh;
}
video {
  object-fit: cover;
  margin-left: 20px;
}
#mainTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  color: rgb(224, 3, 3);
  animation: projet 4s alternate forwards;
}
#animation {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #f50505;
  font-family: terminator;
  font-size: 5em;
  letter-spacing: 0.2em;
}
#animation span {
  opacity: 0;
  display: inline-block;
  animation: sebastien 1s linear forwards;
}
@keyframes projet {
  0% {
    opacity: 0;
    font-size: 0;
  }

  100% {
    opacity: 1;
    font-size: 5em;
    transform: translate(-2.3em, -0.8em);
  }
}

@keyframes sebastien {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}
#animation span:nth-child(1) {
  animation-delay: 1s;
}

#animation span:nth-child(2) {
  animation-delay: 1.2s;
}

#animation span:nth-child(3) {
  animation-delay: 1.4s;
}

#animation span:nth-child(4) {
  animation-delay: 1.6s;
}

#animation span:nth-child(5) {
  animation-delay: 1.8s;
}

#animation span:nth-child(6) {
  animation-delay: 2s;
}

#animation span:nth-child(7) {
  animation-delay: 2.5s;
}

#animation span:nth-child(8) {
  animation-delay: 2.8s;
}

#animation span:nth-child(9) {
  animation-delay: 2.9s;
}
#animation span:nth-child(10) {
  animation-delay: 3s;
}

#animation span:nth-child(11) {
  animation-delay: 3.5s;
}

#animation span:nth-child(12) {
  animation-delay: 3.8s;
}

/* fond decran expo*/
main {
  width: 100vw;
  height: 100vh;
  background-image: url("image\ video/a.jpg");
  background-size: cover;
}
.text {
  font-size: 1.6rem;
  width: 50vw;
  margin: auto;
  padding: 10px;
  background-color: rgba(22, 22, 22, 0.85);
  color: white;
  border: 1px solid black;
  border-radius: 25px;
}
.titre {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

#asterix {
  color: aqua;
  cursor: pointer;
  position: relative;
}
#asterix:hover::before {
  display: inline-block;
}
#asterix::before {
  content: "";
  display: none;
  position: absolute;
  background-image: url("image\ video/8835.jpg");
  background-size: cover;
  width: 15vw;
  height: 20vw;
  top: -45vh;
  left: -10vh;
  border: 1px solid black;
  border-radius: 10px;
}
